VITE_BOOKS_API_BASE_URL=http://localhost:3001
VITE_FULFILLMENT_API_BASE_URL=http://localhost:3001
VITE_PAYMENT_RECEIVER=0x_YOUR_WALLET_ADDRESS
VITE_PACKAGE_ID=0x_YOUR_PACKAGE_ID
VITE_LIBRARY_OBJECT_ID=0x_YOUR_LIBRARY_ID
VITE_DEFAULT_BOOK_PRICE=0.1
VITE_PAYMENT_COIN_TYPE=0x2::sui::SUI
VITE_PAYMENT_TOKEN_NAME=SUI
